#rdkit-pypi
#mordred[full]
#keras
#tensorflow
streamlit==1.34.0
pandas==2.2.2
numpy==1.22.4
#matplotlib==3.3.4
scikit-learn==1.4.2
lazypredict-nightly==0.3.2
xgboost==2.0.3
lightgbm==4.3.0
pytest==8.2.0
tqdm==4.66.4
sweetviz==2.3.1
#pubchempy==1.0.4
#mols2grid==0.0.6






