rdkit-pypi
mordred[full]
keras==2.2.5
tensorflow==1.11.0
streamlit==0.89.0
pandas
numpy
matplotlib==3.3.4
scikit-learn==0.23.1
lazypredict==0.2.7
xgboost==1.1.1
lightgbm==2.3.1
pytest==5.4.3
tqdm==4.56.0
sweetviz==2.0.6
pubchempy==1.0.4
mols2grid==0.0.6



